html{
    background-image: url('Math Background.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
body {
    margin: 0;
    font-family: Helvetica neue, roboto;
    background-color: #03a9f4;
}   
h1{
    font-size: 50px;
    font-weight: bold;
    font-family: Times;
    font-style: italic;
    color: black;
    text-align: center;
}
p{
    font-size: 25px;
    font-family: Times;
    color: black;
    text-align: center;
}
input{
    font-family: Times;
    color: black;
    background-color:#03a9f4;
    text-align: center;
    align-items: center;
}